/* Mobile (≤ 768px) */

@media (max-width: 768px){
  .hero{grid-template-columns:1fr}
  .content{grid-template-columns:1fr}
  .grid-gallery{grid-template-columns:1fr}
   .cards{
    grid-template-columns: 1fr;
  }
  
  .main-nav ul{justify-content:center}
  .site-header{text-align:center}

   /* Texte plus lisible sur GSM */
   
  .content article p,
  .vision-aside p,
  .content article li,
  .vision-aside li {
    line-height: 1.6;
    text-align: left;}
  }
/* Desktop large (≥ 1024px) */

@media (min-width: 1024px){
  main.container{display:block}
}

/* Tablette (entre 768px et 1024px) */

@media (min-width: 768px) and (max-width: 1023px){
  .grid-gallery{
    grid-template-columns: repeat(2, 1fr);}
}

/* Tablette + PC : 2 colonnes, et philosophie sur toute la largeur */

@media (min-width: 768px){
  .content{
    grid-template-columns: 1fr 1fr;}
  .philosophie{
    grid-column: 1 / 3;}
}
/* PC + tablette : centrer le bloc Contact */
@media (min-width: 768px){
  .contact-main{
    display:flex;
    justify-content:center;
  }

  .contact-main .form-section{
    width:100%;
    max-width:650px;  /* largeur du bloc formulaire */
  }

  .form-section h2{
    text-align:center;
    margin-bottom:1.5rem;
  }
}
